services:
  db:
    image: mysql:8.0
    container_name: news_api_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: news_api_app
    restart: unless-stopped
    working_dir: /var/www
    expose:
      - 9000
    volumes:
      - ./:/var/www
    depends_on:
      - db

  web:
    image: nginx
    container_name: news_api_web
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  adminer:
    image: adminer:latest
    container_name: news_api_adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data: